// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rokkitt');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    color: $text-color;
}

.container {
    padding: 25px 5vw;

    @media (max-width: 500px) {
        padding: 25px 10px;
    }
}