.cominput{
    width: 90%;
}

.comcard {
    background-color: white;
    margin: 0.75vw;
    padding: 0 0.75vw;
    border-radius: 1px;
}

.msg {
    font-weight: 600;
}

.author {
    font-weight: 200;
    font-size: 0.8em;
}