/* Coolors Exported Palette - coolors.co/141204-262a10-54442b-a9714b-e8985e */

/* HSL */
$color1: hsla(53%, 67%, 5%, 1);
$color2: hsla(69%, 45%, 11%, 1);
$color3: hsla(37%, 32%, 25%, 1);
$color4: hsla(24%, 39%, 48%, 1);
$color5: hsla(25%, 75%, 64%, 1);

// /* RGB */
// $color1: rgba(20, 18, 4, 1);
// $color2: rgba(38, 42, 16, 1);
// $color3: rgba(84, 68, 43, 1);
// $color4: rgba(169, 113, 75, 1);
// $color5: rgba(232, 152, 94, 1);