/* Coolors Exported Palette - coolors.co/334d50-dde2c6-cbcaa5-b2675e-9d5c63 */

/* HSL */
$color1: hsla(186%, 22%, 26%, 1);
$color2: hsla(71%, 33%, 83%, 1);
$color3: hsla(58%, 27%, 72%, 1);
$color4: hsla(6%, 35%, 53%, 1);
$color5: hsla(354%, 26%, 49%, 1);

/* RGB */
$color1: rgba(51, 77, 80, 1);
$color2: rgba(221, 226, 198, 1);
$color3: rgba(203, 202, 165, 1);
$color4: rgba(178, 103, 94, 1);
$color5: rgba(157, 92, 99, 1);