// Import Color Pallette First!
// @import "./artichoke.scss";
@import "./greyrose.scss";

// Declare Misc. Extra Colors
// $text-color: #333;
$text-color: black;

// $grey: rgb(200, 200, 200);

/* Manual COLOR SCHEME */
// $color1: #e8ffed;
// $color2: #a7f9ba;
// $color3: #71ed90;
// $color4: #4cd575;
// $color5: #33b061;
// $color6: #22824c;
$grey: rgb(96, 97, 81);


$primary-color: $color3;
$secondary-color: $color2;
$accent-color: $color5;
$navBar: $color5;
$searchBar: $color1;
$navLink: $color3;
$searchLink: $color5;
$footerColor: $grey;
$newsCard: white;
$searchButtons: white;
$go: $color4;
$background: $accent-color;
$findata: $color2;
$greetings : $color3;
$link: $color1;
$finchart: $color2;

@import "./base.scss";
@import "./components.scss";
@import "./navigation.scss";
@import "./cards.scss";
@import "./cards2.scss";
@import "./comcards.scss";
@import "./findata.scss";

body {
  background: #334d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50) no-repeat;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbcaa5, #334d50) no-repeat;  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.home {
  display: flex;
  flex-flow: column;
  padding: 25px 5vw;
  margin: auto;
  // background-image: url("/home/star/Ironhack/Charlotte/src/server/public/investor.jpg")
  // background-color: orange;
  background-image: url("../../server/public/investor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  background-position-y: 50%;
  @media (max-width: 900px) {
    background-size: contain;
  }
}

.home > img {
  position: absolute;
  top: 200px;
  right: 400px;
  margin: auto;
  width: 300px;
  z-index: -1;
  opacity: 0.8;
}

.greeting {
  background-color: $greetings;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5vh;
  width: 80vw;
  position: absolute;
  right: 5%;
}

.greeting2 {
  background-color: $greetings;
  padding: 10px;
  border-radius: 25px;
  width: 20vw;
  height: 9vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
}
