// $primary-color: #63adf2;
// $secondary-color: #ff686b;
$text-color: #333;
$grey: rgb(200, 200, 200);

// /* HSL */
// $color1: hsla(78%, 8%, 70%, 1);
// $color2: hsla(202%, 52%, 17%, 1);
// $color3: hsla(204%, 42%, 27%, 1);
// $color4: hsla(79%, 57%, 95%, 1);
// $color5: hsla(84%, 14%, 93%, 1);

/* RGB */
$color1: rgba(180, 184, 171, 1);
$color2: rgba(21, 50, 67, 1);
$color3: rgba(40, 75, 99, 1);
$color4: rgba(244, 249, 233, 1);
$color5: rgba(238, 240, 235, 1);

$primary-color: $color2;
$secondary-color: $color3;
$navBar: $color3;
$searchBar: $color2;
$navLink: $color5;
$searchLink: $color5;
$footerColor: $color3;
$newsCard: white;
$searchButtons: green;
$goButton: red;

@import "./base.scss";
@import "./components.scss";
@import "./navigation.scss";
@import "./cards.scss";
@import "./cards2.scss";
@import "./comcards.scss";
@import "./findata.scss";

body {
  background-color: $color1;
}

.home {
  display: flex;
  flex-flow: column;
  padding: 25px 5vw;
  margin: auto;
  // background-image: url("/home/star/Ironhack/Charlotte/src/server/public/investor.jpg")
  // background-color: orange;
  background-image: url("../../server/public/investor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  background-position-y: 50%;
  @media (max-width: 900px) {
    background-size: contain;
  }
}

.home > img {
  position: absolute;
  top: 200px;
  right: 400px;
  margin: auto;
  width: 300px;
  z-index: -1;
  opacity: 0.8;
}

.greeting {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5vh;
    width: 80vw;
    position: absolute;
    right: 5%;
}

.greeting2 {
    background-color: beige;
    padding: 10px;
    border-radius: 25px;
    width: 20vw;
    height: 9vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
}
