.navigation {
  background-color: $navBar;
  height: 6vh;
  padding: 2.5vh 5vw;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: $navLink;

  &:visited {
    color: $navLink;
  }

  &:hover {
    color: $navLink;
  }
}
.footer {
  background-color: $footerColor;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
  width: 100%;
  z-index: 350;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 3.5vh;
  align-items: center;
}

.rev{
  opacity: 0.2 ;
}
.searchBar {
    padding: 10px 3vw;
    background-color: $searchBar;
  // overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 900;
  display:flex;
  align-items: center;
  justify-content: space-between;

}

.search{
    display:flex;
    align-items: center;
}

.searchBar button {
  background-color: $searchButtons;
  border-radius: 5px;
}

.linkicon {
  border-radius: 5px;
  height: 5vh;
  background-color:$searchButtons;
}

.search-link {
  color: $searchLink;

  &:visited {
    color: $searchLink;
  }

  &:hover {
    color: $searchLink;
  }
}

.go {
  margin-left: 0.3vh;
  background-color:$go;
  border-radius: 10px 20px;
  height: 5vh;
  padding: 0.3vw 0.3vw;
}
