.navigation {
    background-color: $navBar;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: $navLink;

    &:visited {
        color: $navLink;
    }

    &:hover {
        color: $navLink;
    }
}
.footer {
    background-color: $footerColor;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    // position: absolute;
    width: 100%;
    bottom: 0;
    position: relative;
    z-index: 350;
}

.searchBar{
        background-color: $searchBar;
        // overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
}

.search-link {
    color: $searchLink;

    &:visited {
        color: $searchLink;
    }

    &:hover {
        color: $searchLink;
    }
}