.navigation {
    background-color: $primary-color;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;

    &:visited {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}
.footer {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    // position: absolute;
    width: 100%;
    bottom: 0;
    position: relative;
    z-index: 350;
}

.searchBar{
        background-color: red;
        // overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
}